__unconfig*
.dev.vars
.DS_Store
.env
.env*
.nitro
.output
.tanstack
.vinxi
.wrangler
*.local
dist
dist-ssr
node_modules
todos.json
seed/.cache/
src/routeTree.gen.ts

# Playwright
test-results
playwright-report
playwright/.cache
